[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tongjian
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tongjian
	label-Verified = -1..+1 group user/tongjian
	push = group user/tongjian
	read = group user/tongjian
	rebase = group user/tongjian
	removeReviewer = group user/tongjian
	submit = group user/tongjian
[access "refs/heads/*"]
	create = group user/tongjian
	push = +force group user/tongjian
	pushMerge = group user/tongjian
	read = group user/tongjian
[access "refs/tags/*"]
	push = group user/tongjian
	push = +force group user/tongjian
